@charset "UTF-8";

h1, .h1 {
	background: #cce5ff;
	border: 1px;
	border-color: #b8daff;
	border-radius: 5px;
	text-align:center;
	font-size: 2em;
	color: black;
	padding: 14px;
}

h2 {
	font-size: 1.5em;
}

.p-center {
	text-align:center;
}

.index-vertical-center {
	height: 100vh;
	display: flex;
	flex-direction:column;
	justify-content: center;
}

.hidden {
	visibility:hidden;
	width:0px;
	display:none;
}

.action-possible {
	display: flex;
	flex-direction:row;
	justify-content: space-between;
}

@media screen and (max-width: 640px) {
	.absolute {
	background: rgb(210,210,210);
	padding: 10px;
	position: absolute;
	left: 15px;
	top : 50px;
	z-index: 10;
	}
	
	.action-possible {
	display:flex;
	flex-direction:column;
	}
	
}

@media screen and (max-width: 1024px) {
	.action-possible {
	display:flex;
	flex-direction:column;
	}
	
}	