<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css" />
<title>Modifier un sous titre</title>
</head>
<body>
	<header>
		<div class="container">
			<div th:insert="fragments/navbar-perso :: navbar-perso"></div>
			<div class="row">
				<div class="col-md-12">
					<h1>Modifier le sous titre</h1>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Valeurs actuelles</h2>
					<table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Début</th>
								<th scope="col">Fin</th>
								<th scope="col">Texte</th>
								<th scope="col">2ème ligne</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td th:text="${subtitle.startTime}">00.00.000</td>
								<td th:text="${subtitle.endTime}">00.00.000</td>
								<td th:text="${subtitle.text}">Some text</td>
								<td th:text="${subtitle.textSecondLine}">next line</td>
							</tr>
						</tbody>
					</table>
					<hr>
					<h2>Nouvelles valeurs</h2>
					<form action="#" th:action="@{'/SaveChangedSubtitle/'+${fileId}}"
						th:object="${subtitle}" method="post">
						<table class="table table-striped">
							<thead class="thead-dark">
								<tr>
									<th scope="col" class="hidden">#</th>
									<th scope="col">Début</th>
									<th scope="col">Fin</th>
									<th scope="col">Texte</th>
									<th scope="col">2ème ligne</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="hidden"><input type="text" th:field="*{id}"
										id="id" size="2" placeholder="#" value="${subtitle.id}">
									</td>
									<td><input type="text" th:field="*{startTime}"
										id="startTime" size="12" placeholder="00:00:00,000"
										value="${subtitle.startTime}"></td>
									<td><input type="text" th:field="*{endTime}" id="endTime"
										size="12" placeholder="00:00:00,000" value="${subtitle.endTime}"></td>
									<td><input type="text" th:field="*{text}" id="text"
										size="30" placeholder="some text" value="${subtitle.text}">
									</td>
									<td><input type="text" th:field="*{textSecondLine}" id="textSecondLine"
										size="30" placeholder="next line" value="${subtitle.textSecondLine}">
									</td>
								</tr>
								<tr>
									<td class="hidden"><small class="text-danger"
										th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></small>
									</td>
									<td><small class="text-danger"
										th:if="${#fields.hasErrors('startTime')}"
										th:errors="*{startTime}"></small></td>
									<td><small class="text-danger"
										th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></small>
									</td>
									<td><small class="text-danger"
										th:if="${#fields.hasErrors('text')}" th:errors="*{text}">
									</small></td>
									<td><small class="text-danger"
										th:if="${#fields.hasErrors('textSecondLine')}" th:errors="*{textSecondLine}">
									</small></td>
								</tr>
							</tbody>
						</table>
						<div class="form-group">
							<p>
								<button th:if="${okMessage}" class="btn-success disabled"
									th:text="${okMessage} ? ${okMessage} : ''"></button>
							</p>
						</div>
						<div class="form-group">
							<p>
								<button type="submit" class="btn btn-primary">Sauver</button>
								<a th:href="@{'/FileSelected/'+${fileId}}" href="#">
									<button type="button" class="btn btn-danger"
										th:text="${okMessage} ? 'Retour' : 'Annuler'">Annuler</button>
								</a>
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
	<footer> </footer>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>