<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css" />
<title>Fichier de sous titre sélectionné</title>
</head>
<body>
	<header>
		<div class="container">
			<div th:insert="fragments/navbar-perso :: navbar-perso"></div>
			<div class="row">
				<div class="col-md-12">
					<h1>
						Fichier "<span th:text="${file.filename}"></span>"
					</h1>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<button th:if="${okMessage}" class="btn-success disabled"
						th:text="${okMessage} ? ${okMessage} : ''"></button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h2>Actions possibles</h2>
					<div class="action-possible">
					
						<div class="form-group">
							<a th:href="@{'/NewSubtitle/'+${file.id}}" href="#">
								<button class="btn btn-primary">Ajouter sous-titre</button>
							</a>
						</div>

						<form action="#" th:action="@{'/RenameFile/'+${file.id}}"
							method="post">
							<div class="form-group">
								<div class="input-group mb-3">
									<input class="form-control" type="text" id="newname"
										name="newname" required maxlength="255" size="30"
										placeholder="nouveau nom">
									<div class="input-group-append">
										<button type="submit" class="btn btn-primary">Renommer
											le fichier</button>
									</div>
								</div>
								<small class="text-danger" th:if="${errorRename}"
									th:text="${errorRename}"> </small>
							</div>
						</form>

						<form action="#" th:action="@{'/DeleteSubtitle/'+${file.id}}"
							th:object="${file}" method="post">
							<div class="form-group">
								<div class="input-group mb-3">
									<input class="form-control" type="text" id="index" name="index"
										required maxlength="8" size="10" placeholder="numéro">
									<div class="input-group-append">
										<button type="submit" class="btn btn-primary">Effacer</button>
									</div>
								</div>
								<small class="text-danger" th:if="${errorDelete}"
									th:text="${errorDelete}"> </small>
							</div>
						</form>

						<form action="#" th:action="@{'/EditSubtitle/'+${file.id}}"
							th:object="${file}" method="post">
							<div class="form-group">
								<div class="input-group mb-3">
									<input class="form-control" type="text" id="index" name="index"
										required maxlength="8" size="10" placeholder="numéro">
									<div class="input-group-append">
										<button type="submit" class="btn btn-primary">Modifier</button>
									</div>
								</div>
								<small class="text-danger" th:if="${errorEdit}"
									th:text="${errorEdit}"> </small>
							</div>
						</form>

					</div>
					<hr>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h2>Liste des sous-titres</h2>
					<table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Début</th>
								<th scope="col">Fin</th>
								<th scope="col">Texte</th>
								<th scope="col">2ème ligne</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="subtitle, iterStat : ${file.lstSubtitle}">
								<th scope="row" th:text="${iterStat.count}">#</th>
								<td th:text="${subtitle.startTime}">00.00.000</td>
								<td th:text="${subtitle.endTime}">00.00.000</td>
								<td th:text="${subtitle.text}">Some text</td>
								<td th:text="${subtitle.textSecondLine}">next line</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</main>
	<footer> </footer>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>