<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css" />
<title>Fichier de sous titre sélectionné</title>
</head>
<body>
	<header>
		<div class="container">
			<div th:insert="fragments/navbar-perso :: navbar-perso"></div>
			<div class="row">
				<div class="col-md-12">
					<h1>
						Ajouter un sous titre dans le fichier <span
							th:text="${file.filename}"></span>
					</h1>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Renseigner les champs</h2>
					<hr>
					<form action="#" th:action="@{'/NewSubtitle/'+${file.id}}"
						th:object="${subtitle}" method="post">
						<div class="form-group">
							<label for="startTime">Début</label> <input type="text"
								class="form-control" th:field="*{startTime}" id="startTime"
								placeholder="00:00:00,000"> <span
								th:if="${#fields.hasErrors('startTime')}"
								th:errors="*{startTime}"> </span>
						</div>
						<div class="form-group">
							<label for="endTime">Fin</label> <input type="text"
								class="form-control" th:field="*{endTime}" id="endTime"
								placeholder="00:00:00,000"> <span
								th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}">
							</span>
						</div>
						<div class="form-group">
							<label for="text">Texte</label> <input type="text"
								class="form-control" th:field="*{text}" id="text"
								placeholder="some text"> <span
								th:if="${#fields.hasErrors('text')}" th:errors="*{text}">
							</span>
						</div>
						<div class="form-group">
							<label for="textSecondLine">Ligne 2</label> <input type="text"
								class="form-control" th:field="*{textSecondLine}" id="textSecondLine"
								placeholder="second line"> <span
								th:if="${#fields.hasErrors('textSecondLine')}" th:errors="*{textSecondLine}">
							</span>
						</div>
						<p>
							<button type="submit" class="btn btn-primary">Ajouter</button>
						</p>
					</form>
				</div>
			</div>
		</div>

	</main>
	<footer> </footer>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>