<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css" />
<title>Accueil de l'application ytbsubtitles</title>
</head>
<body>
	<header>
		<div class="container">
			<div th:insert="fragments/navbar-perso :: navbar-perso"></div>
			<div class="row">
				<div class="col-md-12">
					<h1>Application de fichiers de
						sous-titres pour les vidéos</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h2>Liste des fichiers en base de données</h2>
					<hr>
					<table class="table table-striped">
						<thead class="thead-dark">
							<tr>
								<th scope="col">#</th>
								<th scope="col">Nom</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="file, iterStat : ${lstFile}">
								<th scope="row" th:text="${iterStat.count}">#</th>
								<td th:text="${file.filename}">Filename</td>
								<td>
								<a th:href="@{'/FileSelected/'+${file.id}}" href="#">
										<button class="btn btn-primary">Modifier</button>
								</a>
								<a th:href="@{'/CopyFile/'+${file.id}}" href="#">
										<button class="btn btn-primary">Dupliquer</button>
								</a>
								<a th:href="@{'/DeleteFile/'+${file.id}}" href="#">
										<button class="btn btn-danger" >
										X
										</button>
								</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</header>
	<main></main>
	<footer> </footer>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>