<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css" />
<title>Page d'upload de fichier existant</title>
</head>
<body>
	<header>
		<div class="container">
			<div th:insert="fragments/navbar-perso :: navbar-perso"></div>
			<div class="row">
				<div class="col-md-12">
					<h1>
						Telecharger le fichier .srt</span>
					</h1>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<button th:if="${okMessage}" class="btn-success disabled"
						th:text="${okMessage} ? ${okMessage} : ''"></button>
					<button th:if="${errorMessage}" class="btn-danger disabled"
						th:text="${errorMessage} ? ${errorMessage} : ''"></button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form action="#" th:action="@{/download}" method="post">
 						<label for="index">Index du fichier</label>
						<input type="text" id="index" name="index" />
						<span><button type="submit"	class="btn btn-primary">
						Télécharger</button></span>
					</form>
				</div>
			</div>
		</div>
	</main>
	<footer></footer>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>